{% extends "base.html" %}

{% block body %}
<body>
    <div class="centered">
    <h1> Log into your account </h1>

    <form class="defaultform" action="#" method="post">
        <input class="txtform" name="username" type="username" autocomplete="off" placeholder="Username">
        <br>
        <input class="txtform" name="password" type="password" autocomplete="off" placeholder="Password">
        <br>
        <input class="submitbutton" name="submit" type="submit">
    </form>
    
    
    </div>
</body>
{% endblock %}