{% extends "base.html" %}

{% block body %}
<div class="landingcolumnwrapper">
    <div class="big-textbox" style="margin-top: 60px;">
    <div class="title">What is ConstAnt?</div>
    <p>
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
        Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
        Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
        Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
        Ipsum Lorem Ipsum Lorem Ipsum.
    </p>
    <p>
        Also check out the On-Line Encyclopedia of Integer Sequences: https://oeis.org/
    </p>
</div>
</div>



{% endblock %}