
<header style="text-align: center;">
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <div class="navbar">
        <h1>
            <a href="/">Home</a> &nbsp;&nbsp;&nbsp; 
            <a href="/newconst">+</a> &nbsp;&nbsp;&nbsp; 
            {% if "user" in session %}
                <a href="/logout">logout</a> &nbsp;&nbsp;&nbsp;
                <span style="font-size: medium;">Logged in as {{ session.user }}</span>  &nbsp;&nbsp;&nbsp;
            {% else %}
                <a href="/register">register</a> &nbsp;&nbsp;&nbsp;
                <a href="/login">login</a> &nbsp;&nbsp;&nbsp;
            {% endif %}
        </h1>
    </div>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p class="flashed {{ category }}">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block body %}{% endblock %}
