{% extends "base.html" %}

{% block body %}

<body>
    <br>
    <div class="centered">
        {% if results %}
        <div class="maintitle"> ConstAnt </div>
        <div class="searchbarBox">
                <form action="#" method="post">
                <input name="searchbar" type="text" autocomplete="off" placeholder="Favorite number?">
                <div class="buttone">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        {% else %}
        <div style="margin-top: 100px; margin-bottom: 100px;">
            <div class="maintitle"> ConstAnt </div>
            <div class="searchbarBox">
                    <form action="#" method="post">
                    <input name="searchbar" type="text" autocomplete="off" placeholder="Favorite number?">
                    <div class="buttone">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}


        {% if results and query %}
            <h3>Results for {{query}}:</h3>
        {% elif query %}
            <h2>No results for {{query}}.</h2>
        {% endif %}
        {% if not results %}
            <div class="landingcolumnwrapper">
                <div class="topomainwrapper">
                    <div class="hotconstantswrapper">
                            <h2>Hot constants:</h2>
                        {% for tup in hotconsts %}
                        <a class="numlink" href="/viewconst/{{tup[0]._id}}">
                        <div class="numbox constbox">
                            <p>
                            <span class="number">{{tup[0].shortnum}}</span>
                                <br>
                                {% if tup[0].name %}
                                <span class="constname">{{tup[0].name}}</span> 
                                {% else %}
                                <span class="constname">{{tup[0].ref}}</span> 
                                {% endif %}
                            </p>                            
                        </div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="rightbar">
                        <h2>Most Popular</h2>
                        {% for tup in topconsts %}
                        <a class="numlink" href="/viewconst/{{tup[0]._id}}">
                            <div class="popconst">{{tup[0].shortnum}} | {{tup[1]}}</div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                
                <br><br>
                <div class="big-textbox" style="margin-bottom: 60px;">
                    <div class="title">What is ConstAnt?</div>
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
                    Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
                    Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 
                    Ipsum Lorem Ipsum Lorem Ipsum 
                </div>
            </div>
        {% endif %}
        <div class="numboxcolumnwrapper">

            {% if results != None %}
                {% for result in results %}
                
            <!--{% include 'votebase.html' %}-->
                
                <a class="numlink" href="/viewconst/{{result._id}}">
                    <div class="numbox">
                        <div class="left">
                            <span class="number">{{result.shortnum}}</span>
                        </div>
                        <div class="right">
                            <span class="constname">{{result.name}}</span>
                            <br>
                            by {{result.creator}} | Ex: {{result.ref}}
                            <br> 
                            {% for trait in traits %}
                             | {{ trait.traitname }}
                            {% endfor %}
                        </div>
                    </div>
                </a>

                <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script>
        // currently unused :(
        /*
        let placeholderOptions = [
            'Favorite number?', 
            'Prime fan?', 
            'Irrational curiosity?', 
            'Thinking about e?',
            'Thinking about pi?',
            'Thinking about phi?',
            'Find something cool?',
            'Stumped?',
            'Bored?',
            'Find Taxicab Numbers!',
            'Find Unnatural Numbers!',
            'Rational search?',
        ];
        
        function randomIntFromInterval(min, max) { // min and max included 
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        
        let rndom = randomIntFromInterval(0, placeholderOptions.length - 1);
        console.log(rndom);

        placehold = placeholderOptions[rndom];
        document.getElementsByName('searchbar')[0].placeholder=placehold;
        */
    </script>
</body>

{% endblock %}