<header>
    <h1> Home </h1>
</header>
<body style="text-align: center;">
    <p>------------</p>
    <form action="#" method="post">
        <input name="searchbar" type="text" autocomplete="off" placeholder="rock a numbah...">
        <input name="submit" type="submit">
    </form>
    <h3>Results:</h3>
    {% if results %}
        {% for result in results %}
            <p>{{result.ref}} = {{result.num}}</p>
        {% endfor %}
    {% else %}
        <p> No results </p>
    {% endif %}
</body>