{% extends "base.html" %}
{% block body %}
<body>
    <div class="centered">
        <p>------------</p>

        <form action="#" method="post">
            <input name="searchbar" type="text" autocomplete="off" placeholder="rock a numbah...">
            <input name="submit" type="submit">
        </form>

        {% if results and query %}
            <h3>Results for {{query}}:</h3>
        {% endif %}
    </div>
    <div class="row">
        <div class="column" style="text-align: right;">
            {% if results %}

                {% for result in results %}
                    [{{ result.name }}, by {{ result.creator }}] {{result.ref}} = 
                    <br>
                    <br>
                {% endfor %}

            {% else %}

                <p> No figure reference found. </p>

            {% endif %}
        </div>
        <div class="column" style="text-align: left;">
            {% if results %}
        
                {% for result in results %}
        
                     {{result.num}}
                    <br>
                    <br>
        
                {% endfor %}
        
            {% else %}

                <p> No constant found. </p>

            {% endif %}
        </div>  
    </div>
</body>
{% endblock %}