{% extends "base.html" %}

{% block body %}
<body class="centered">
    <h1> Add your own constant! </h1>
    <form action="#" method="post">
        <br><input class="newconstinput" name="constantname" type="text" autocomplete="off" placeholder="Enter the name of your constant.">
        <br><input class="newconstinput" name="equation" type="text" autocomplete="off" placeholder="Enter an expression that calculates your constant.">
        <br><input class="newconstinput" name="notes" type="text" autocomplete="off" placeholder="Enter additional notes. Where would this constant be useful?">
        <br><input class="newconstinput" name="submit" type="submit">
    </form>
</body>
{% endblock %}