{% extends "base.html" %}

{% block body %}
<body>
    <div style="text-align: center">
        <h2>{{ constdata.name }}</h2>
        <h3>by {{ constdata.creator }}</h3>
        <br>
        <h2>{{ constdata.num }}</h2>
        <br>
        <h2>Notes:</h2>
        <h3>{{ constdata.notes }}</h3>
        <br>
        <h2>Some ways to find it:</h2>
        {% for sol in soldata %}
            <p>{{ sol.sol }}</p>
        {% endfor %}
        <br>
        <br>
        <br>
    </div>
</body>
{% endblock %}